{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2015"
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "minify": true
}