{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2015"
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "minify": true,
  "exclude": [
    "dist/node_modules",
    "dist/generated/prisma-client/index.d.ts",
    "dist/generated/prisma-client/index.d.js",
    "dist/generated/prisma-client/runtime/index.js"
  ]
}